# Gradle
.gradle/
build/
app/build/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Local config
local.properties
captures/
.externalNativeBuild/
.cxx/

# Build outputs
*.apk
*.aab
*.keystore
!debug.keystore

# Logs
*.log
